<div class="navbar navbar-expand-sm navbar-light navbar-goats px-3">
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <%= image_tag "goaty.jpg", alt: "alttext", class: "logo" %>
      <%= link_to "Go Goats", root_path %>
    </a>
  </nav>

  <div class="dropdown menu-button">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Profile
    </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <% if user_signed_in? %>
      <%= link_to 'My Profile', user_path(current_user), class: "dropdown-item"%>
      <%= link_to 'Create a new herd', new_goat_path, class: "dropdown-item" %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path, class: "dropdown-item"%>
    <% end %>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
</div>
