  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#book-modal">
    Book this herd
  </button>

  <!-- Modal -->
  <div class="modal fade" id="book-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book <strong><%= @goat.user.name.capitalize%></strong>'s herd</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- form -->
        <div class="modal-body">
          <%= simple_form_for [@goat, @reservation] do |f| %>
            <%= f.input :location %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>

            <div class="modal-footer">
              <!-- close -->
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <!-- create reservation -->
              <%= f.submit "Book now", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
