<div class="container">
  <h1>Edit your herd's info</h1>

  <%= simple_form_for @goat do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :number %>
    <%= f.input :description %>
    <%= f.submit "Update", class: "btn btn-secondary" %>
  <% end %>
</div>
