<div class="container">
  <h1>Herds</h1>

  <p><%= link_to "Create a new goat herd", new_goat_path, class: "btn btn-secondary w-100" %></p>

  <div class="row flex-column flex-sm-row">


    <div class="col-12 col-sm-6 <%= @goats.size == 1 ? "col-lg-4" : "col-lg-8" %> justify-content-center">
      <div class="row justify-content-begin">
        <% @goats.each do |g| %>
          <%= render 'goats/components/card-goat', goat: g %>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-sm-6 <%= @goats.size == 1 ? "col-lg-8" : "col-lg-4" %>">
      <div id="map"
        style="width: 100%; height: 100vh"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
</div>
