<h2><%= @goat.name.capitalize %></h2>

<div class="container">
  <div class="d-flex justify-content-between my-3">

    <%= @goat.description %>
    <%= @goat.location %>
    <%= @goat.number %>

    <%= link_to 'edit', edit_goat_path(@goat) %>
    <%= link_to 'delete', goat_path(@goat), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

  </div>

   <%= simple_form_for [@goat, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.submit "Review", class: "btn btn-secondary" %>
  <% end %>

  <% @goat.reviews.each do |review| %>
    <%= review.comment %> <%=  'ðŸ' * review.rating%>
  <% end %>

</div>
